.form {
	
		@include mq(small) {
		width: 100%;
	}

	@include flexbox;
	@include flex-direction(column);
	@include el(input) {
	border:none;
	border-bottom:7px solid $turquoise;
	border-radius:3px;
	padding:20px;
	width:100%;
    outline: 0;
	font-size:em(17px);

	@include mq(medium) {
		margin-top:em(20px);
	}
}
	@include el(label) {
		@include mod(hidden) {
			display:none;
		}
	}

}

.form .btn--default{
	@include align-self(center);
	margin-top: 15px;
}