/* --------------------------
  Navigation
--------------------------- */

.nav {
	list-style-type: none;
	padding: 0;
	text-align: center;
	@include flexbox;

	@include mq(small) {
	@include flex-direction(column);
	}
}

.nav__item {
	@extend %item;
	a {
        @extend %nav-a;
		
		@include mq(medium) {
			margin: 0;
			font-size:em(20px);
		}
	}

	a:hover {
		@extend %nav-hover;
	}
}


a[href^="#type"] {
  @extend %nav-first-item;
}