// ==========================================================================
// Card
// ==========================================================================

.grid__col--12 .card{
	@include mq(medium) {
	padding-right: 33%;
}
}

.card p {
	color: $black;
}


// ==========================================================================
// Headlines
// ==========================================================================

.headline {

	&--primary {
		@extend %hdln-prim;
		margin-bottom: em(70px, 42px);
	}
  
 	&--secondary {
		@extend %hdln-sec;
		margin-bottom: em(22px, 24px);
	}

}

// ==========================================================================
// Blockquote
// ==========================================================================

.blockquote {
	@extend %block-text;
	border-left: 10px solid $turquoise; 
	@include mq(medium) {
	padding-right: 33%;
}
}

